In [11]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import ast

In [12]:
num = 1
df = pd.read_csv(f'RSSI/{num}.csv')
df

,Iteration,Network,Signal,MAC Address
0,1,"['eduroam', '-61', '38:90:A5:19:EB:F1']",NaN,NaN
1,1,"['SDProbots', '-56', '00:13:21:57:B4:67']",NaN,NaN
2,1,"['central', '-61', '38:90:A5:19:EB:F0']",NaN,NaN
3,1,"['Visit-Ed', '-61', '38:90:A5:19:EB:F3']",NaN,NaN
4,1,"['eduroam', '-37', '38:90:A5:0D:33:31']",NaN,NaN
...,...,...,...,...
8897,200,"['Visit-Ed', '-86', '38:90:A5:20:31:B2']",NaN,NaN
8898,200,"['eduroam', '-83', '38:90:A5:20:31:B1']",NaN,NaN
8899,200,"['eduroam', '-85', '38:90:A5:4D:6A:11']",NaN,NaN
8900,200,"['BTWi-fi', '-89', '7A:97:41:2A:22:1C']",NaN,NaN
8901,200,"['central', '-83', '38:90:A5:0D:93:20']",NaN,NaN

In [13]:

# Split the values directly from the 'Network' column
network_df = df['Network']
temp_df = df
# Convert the string representations of lists to actual lists
df['Network'] = df['Network'].apply(ast.literal_eval)

# Create separate columns for 'Network', 'Signal', and 'MAC Address'
df[['Network', 'Signal', 'MAC Address']] = pd.DataFrame(df['Network'].to_list(), columns=['Network', 'Signal', 'MAC Address'])

# Drop the original 'Network' column
# df.drop('Network', axis=1, inplace=True)

print(df)

      Iteration    Network Signal        MAC Address
0             1    eduroam    -61  38:90:A5:19:EB:F1
1             1  SDProbots    -56  00:13:21:57:B4:67
2             1    central    -61  38:90:A5:19:EB:F0
3             1   Visit-Ed    -61  38:90:A5:19:EB:F3
4             1    eduroam    -37  38:90:A5:0D:33:31
...         ...        ...    ...                ...
8897        200   Visit-Ed    -86  38:90:A5:20:31:B2
8898        200    eduroam    -83  38:90:A5:20:31:B1
8899        200    eduroam    -85  38:90:A5:4D:6A:11
8900        200    BTWi-fi    -89  7A:97:41:2A:22:1C
8901        200    central    -83  38:90:A5:0D:93:20

[8902 rows x 4 columns]

In [14]:
# Convert 'Signal' column to numeric
df['Signal'] = pd.to_numeric(df['Signal'], errors='coerce')

# List of networks to keep
networks_to_keep = ['SDP_AT', 'SDProbots', 'eduroam', 'central', 'Visit-Ed']

# Filter the dataframe to keep rows with network values in the specified list
filtered_df = df[df['Network'].isin(networks_to_keep)]

# Print the resulting dataframe
print(filtered_df)

      Iteration    Network  Signal        MAC Address
0             1    eduroam     -61  38:90:A5:19:EB:F1
1             1  SDProbots     -56  00:13:21:57:B4:67
2             1    central     -61  38:90:A5:19:EB:F0
3             1   Visit-Ed     -61  38:90:A5:19:EB:F3
4             1    eduroam     -37  38:90:A5:0D:33:31
...         ...        ...     ...                ...
8896        200    central     -86  38:90:A5:20:31:B0
8897        200   Visit-Ed     -86  38:90:A5:20:31:B2
8898        200    eduroam     -83  38:90:A5:20:31:B1
8899        200    eduroam     -85  38:90:A5:4D:6A:11
8901        200    central     -83  38:90:A5:0D:93:20

[8831 rows x 4 columns]

In [15]:
unique_mac_addresses = filtered_df['MAC Address'].unique()
mac_addresses_count = len(unique_mac_addresses)
print(mac_addresses_count)

53

In [16]:
mean_signal = filtered_df.groupby('MAC Address')['Signal'].mean()

# Create a new DataFrame with 'MAC Address' and 'Mean Signal' columns
mean_signal_df = pd.DataFrame({'MAC Address': mean_signal.index, 'Mean Signal': mean_signal.values})

# Assign the tuple (0, 0) to the 'RP' column
mean_signal_df['RP'] = [(-0.009,-0.062)] * len(mean_signal_df)

# Save the DataFrame as a CSV file
mean_signal_df.to_csv('mean_rssi.csv',  mode='a', header=False, index=False)
mean_signal_df

          MAC Address  Mean Signal                RP
0   00:0D:9D:F6:12:77   -83.102564  (-0.009, -0.062)
1   00:13:21:57:B4:67   -41.630000  (-0.009, -0.062)
2   00:13:21:57:E4:EB   -80.455000  (-0.009, -0.062)
3   00:16:35:9D:2B:09   -73.380000  (-0.009, -0.062)
4   00:16:35:9D:4B:F3   -87.000000  (-0.009, -0.062)
5   20:3A:07:85:59:50   -84.557692  (-0.009, -0.062)
6   20:3A:07:85:59:51   -84.651429  (-0.009, -0.062)
7   20:3A:07:85:59:52   -84.551948  (-0.009, -0.062)
8   38:90:A5:0D:33:30   -36.355000  (-0.009, -0.062)
9   38:90:A5:0D:33:31   -35.685000  (-0.009, -0.062)
10  38:90:A5:0D:33:32   -36.560000  (-0.009, -0.062)
11  38:90:A5:0D:33:3D   -39.440000  (-0.009, -0.062)
12  38:90:A5:0D:33:3E   -39.700000  (-0.009, -0.062)
13  38:90:A5:0D:33:3F   -39.505000  (-0.009, -0.062)
14  38:90:A5:0D:93:20   -81.801887  (-0.009, -0.062)
15  38:90:A5:0D:93:21   -82.647959  (-0.009, -0.062)
16  38:90:A5:0D:93:22   -82.447514  (-0.009, -0.062)
17  38:90:A5:0D:93:2D   -88.365000  (-0.009, -0.062)
18  38:90:A5:0D:93:2E   -88.350254  (-0.009, -0.062)
19  38:90:A5:0D:93:2F   -88.440000  (-0.009, -0.062)
20  38:90:A5:19:EB:F0   -62.105000  (-0.009, -0.062)
21  38:90:A5:19:EB:F1   -61.980000  (-0.009, -0.062)
22  38:90:A5:19:EB:F3   -61.995000  (-0.009, -0.062)
23  38:90:A5:19:EB:FC   -69.540000  (-0.009, -0.062)
24  38:90:A5:19:EB:FE   -69.275000  (-0.009, -0.062)
25  38:90:A5:19:EB:FF   -69.235000  (-0.009, -0.062)
26  38:90:A5:20:20:40   -79.290000  (-0.009, -0.062)
27  38:90:A5:20:20:41   -79.395000  (-0.009, -0.062)
28  38:90:A5:20:20:42   -79.245000  (-0.009, -0.062)
29  38:90:A5:20:31:B0   -85.518519  (-0.009, -0.062)
30  38:90:A5:20:31:B1   -85.750000  (-0.009, -0.062)
31  38:90:A5:20:31:B2   -85.432836  (-0.009, -0.062)
32  38:90:A5:20:31:BD   -88.318182  (-0.009, -0.062)
33  38:90:A5:20:31:BE   -89.166667  (-0.009, -0.062)
34  38:90:A5:20:31:BF   -89.456522  (-0.009, -0.062)
35  38:90:A5:4D:6A:10   -83.357798  (-0.009, -0.062)
36  38:90:A5:4D:6A:11   -83.522222  (-0.009, -0.062)
37  38:90:A5:4D:6A:13   -83.712042  (-0.009, -0.062)
38  38:90:A5:4D:6A:1C   -83.590000  (-0.009, -0.062)
39  38:90:A5:4D:6A:1E   -83.065000  (-0.009, -0.062)
40  38:90:A5:4D:6A:1F   -83.265000  (-0.009, -0.062)
41  38:90:A5:5A:11:10   -75.145729  (-0.009, -0.062)
42  38:90:A5:5A:11:11   -75.120000  (-0.009, -0.062)
43  38:90:A5:5A:11:12   -75.045000  (-0.009, -0.062)
44  38:90:A5:5A:11:1D   -75.885000  (-0.009, -0.062)
45  38:90:A5:5A:11:1E   -76.195000  (-0.009, -0.062)
46  38:90:A5:5A:11:1F   -75.170000  (-0.009, -0.062)
47  58:F3:9C:BE:03:40   -83.717949  (-0.009, -0.062)
48  58:F3:9C:BE:03:41   -83.475000  (-0.009, -0.062)
49  58:F3:9C:BE:03:43   -83.290000  (-0.009, -0.062)
50  58:F3:9C:BE:03:4C   -89.000000  (-0.009, -0.062)
51  58:F3:9C:BE:03:4E   -89.410256  (-0.009, -0.062)
52  58:F3:9C:BE:03:4F   -88.973684  (-0.009, -0.062)

In [7]:
import csv

# Specify the input and output file paths
input_file = 'mean_rssi.csv'
output_file = 'rssi_database.csv'

# Define the header
header = ['MAC', 'RSSI', 'RP']  # Replace with your desired header names

# Read the input CSV file
with open(input_file, 'r') as file:
    reader = csv.reader(file)
    data = list(reader)

# Write the data with the header to the output CSV file
with open(output_file, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)  # Write the header
    writer.writerows(data)  # Write the data

print("Header added successfully!")

Header added successfully!

In [8]:
rssi_df = pd.read_csv(f'rssi_database.csv')
rssi_df

                   MAC       RSSI                RP
0    00:0D:9D:F6:12:77 -83.102564  (-0.009, -0.062)
1    00:13:21:57:B4:67 -41.630000  (-0.009, -0.062)
2    00:13:21:57:E4:EB -80.455000  (-0.009, -0.062)
3    00:16:35:9D:2B:09 -73.380000  (-0.009, -0.062)
4    00:16:35:9D:4B:F3 -87.000000  (-0.009, -0.062)
..                 ...        ...               ...
101  58:F3:9C:BE:03:41 -83.475000  (-0.009, -0.062)
102  58:F3:9C:BE:03:43 -83.290000  (-0.009, -0.062)
103  58:F3:9C:BE:03:4C -89.000000  (-0.009, -0.062)
104  58:F3:9C:BE:03:4E -89.410256  (-0.009, -0.062)
105  58:F3:9C:BE:03:4F -88.973684  (-0.009, -0.062)

[106 rows x 3 columns]

In [9]:
count = rssi_df['MAC'].value_counts()
print(count)

00:0D:9D:F6:12:77    2
38:90:A5:20:20:41    2
38:90:A5:20:31:B0    2
38:90:A5:20:31:B1    2
38:90:A5:20:31:B2    2
38:90:A5:20:31:BD    2
38:90:A5:20:31:BE    2
38:90:A5:20:31:BF    2
38:90:A5:4D:6A:10    2
38:90:A5:4D:6A:11    2
38:90:A5:4D:6A:13    2
38:90:A5:4D:6A:1C    2
38:90:A5:4D:6A:1E    2
38:90:A5:4D:6A:1F    2
38:90:A5:5A:11:10    2
38:90:A5:5A:11:11    2
38:90:A5:5A:11:12    2
38:90:A5:5A:11:1D    2
38:90:A5:5A:11:1E    2
38:90:A5:5A:11:1F    2
58:F3:9C:BE:03:40    2
58:F3:9C:BE:03:41    2
58:F3:9C:BE:03:43    2
58:F3:9C:BE:03:4C    2
58:F3:9C:BE:03:4E    2
38:90:A5:20:20:42    2
38:90:A5:20:20:40    2
00:13:21:57:B4:67    2
38:90:A5:19:EB:FF    2
00:13:21:57:E4:EB    2
00:16:35:9D:2B:09    2
00:16:35:9D:4B:F3    2
20:3A:07:85:59:50    2
20:3A:07:85:59:51    2
20:3A:07:85:59:52    2
38:90:A5:0D:33:30    2
38:90:A5:0D:33:31    2
38:90:A5:0D:33:32    2
38:90:A5:0D:33:3D    2
38:90:A5:0D:33:3E    2
38:90:A5:0D:33:3F    2
38:90:A5:0D:93:20    2
38:90:A5:0D:93:21    2
38:90:A5:0D:93:22    2
38:90:A5:0D:93:2D    2
38:90:A5:0D:93:2E    2
38:90:A5:0D:93:2F    2
38:90:A5:19:EB:F0    2
38:90:A5:19:EB:F1    2
38:90:A5:19:EB:F3    2
38:90:A5:19:EB:FC    2
38:90:A5:19:EB:FE    2
58:F3:9C:BE:03:4F    2
Name: MAC, dtype: int64

In [10]:
count = rssi_df['MAC'].value_counts()

# Filter the original DataFrame based on the count condition
filtered_df = rssi_df[rssi_df['MAC'].isin(count[count == 10].index)]

# Create a new DataFrame with the filtered data
new_df = pd.DataFrame(filtered_df)

# Save the new DataFrame as a CSV file
new_df.to_csv('rssi.csv', index=False)